<div class="panel panel-primary">
<div class="panel-heading">
    {{pageTitle}}
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
            <input type="text"[(ngModel)]='lstFilter'>
        </div>

    </div>
        <div class="row">
             <div class="col-md-6"><h2>Filtered by:{{lstFilter}}</h2></div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success" 
                            (click)='toggleImage()'>{{hideimage ?'Hide':'Show'}} Image</button>


                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter: lstFilter">
                        <td>
                            <img *ngIf='hideimage'
                            [src]="product.imageUrl" 
                            [style.width.px]="imageWidth"
                            [style.margin.px]="imageHeight"
                            >
                        </td>
                        <td><a [routerLink]="['/products', product.productId]">{{product.productName}}</a></td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.price | currency :'USD': true : '1.2-2' }}</td>
                        <td>{{product.releaseDate}}</td>
                        <td><ai-star [rating]='product.starRating'
                                     (ratingClicked)='onRatingClicked($event)'
                        ></ai-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</div>